In [1]:
import numpy as np
import pandas as pd
from tqdm import tqdm
tqdm.pandas()

In [6]:
df = pd.read_csv("/data/Augmented_data.csv")

In [7]:
df.shape

(234501, 18)

In [8]:
df[df["Exited"] == 1].shape[0] /df.shape[0]

0.14290770615050682

In [9]:
df

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned,date
0,15572489,HEALEY,1720.007287,Spain,Female,73,29,393987.727351,1,1,1,1.0,0,0,3,DIAMOND,2531.0,1-6-2022
1,15800464,PARTIDA,1518.782461,Spain,Male,53,15,274502.817582,2,1,0,1.0,1,0,4,SILVER,1725.0,1-2-2022
2,15580134,Crawford,502.950000,Spain,Male,27,2,184535.891500,1,1,1,1.0,0,0,3,DIAMOND,711.0,1-1-2020
3,15074588,PINKERTON,1468.954354,Spain,Male,49,15,0.000000,1,1,0,1.0,0,0,5,SILVER,1512.0,1-1-2022
4,15982065,ABERNATHY,1683.914742,France,Male,49,30,0.000000,2,1,0,1.0,1,0,3,DIAMOND,1296.0,1-6-2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234496,15244801,KING,1637.900927,France,Male,65,37,0.000000,1,1,1,1.0,0,0,5,GOLD,643.0,1-10-2022
234497,15047568,MEDLEY,612.439174,France,Male,32,1,172743.096102,1,0,0,0.0,0,0,1,DIAMOND,722.0,1-4-2020
234498,15617037,WYMAN,855.634870,Spain,Male,37,2,213987.894170,1,1,0,1.0,0,0,5,SILVER,870.0,1-10-2020
234499,15788634,Romani,826.575000,Spain,Female,37,2,124219.939284,1,0,0,0.0,0,0,5,DIAMOND,1018.0,1-2-2020
234500,15967084,DOTSON,1191.388762,France,Female,47,9,287014.073397,1,1,1,1.0,0,0,4,PLATINUM,881.0,1-6-2021

In [10]:
df.describe()

,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Point Earned
count,2.345010e+05,234501.000000,234501.000000,234501.000000,2.345010e+05,234501.000000,234501.000000,234501.000000,234501.000000,234501.000000,234501.000000,234501.000000,234501.000000
mean,1.554883e+07,1644.183197,60.675656,28.424088,2.780417e+05,1.555848,0.716765,0.559388,4268.908985,0.142908,0.009062,3.054537,1562.094793
std,2.671562e+05,1058.063869,31.361006,30.089396,3.931392e+05,0.512903,0.450571,0.496462,23452.385469,0.349979,0.094761,1.434428,1207.730461
min,1.500001e+07,350.000000,18.000000,0.000000,0.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,119.000000
25%,1.533422e+07,822.350321,37.000000,6.000000,0.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,731.000000
50%,1.560998e+07,1255.060229,49.000000,13.000000,1.433630e+05,2.000000,1.000000,1.000000,1.000000,0.000000,0.000000,3.000000,1146.000000
75%,1.575486e+07,2216.240474,78.000000,45.000000,3.661488e+05,2.000000,1.000000,1.000000,1.000000,0.000000,0.000000,4.000000,2019.000000
max,1.599998e+07,9652.544644,189.000000,116.000000,3.209628e+06,4.000000,1.000000,1.000000,199992.480000,1.000000,1.000000,5.000000,9211.000000