In [1]:
import numpy as np
import pandas as pd
from tqdm import tqdm
tqdm.pandas()

In [2]:
df = pd.read_csv("/data/Augmented_data.csv")

In [3]:
df.shape

(392487, 18)

In [4]:
df[df["Exited"] == 1].shape[0] /df.shape[0]

0.13671026046722567

In [5]:
df

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned,date
0,15817647,GOODWIN,3273.462735,France,Male,88,53,0.000000,2,0,1,0.0,0,0,2,SILVER,2192.0,1-40-2023
1,15326787,ATKINS,1115.929455,Germany,Male,41,7,216160.461086,1,1,0,1.0,1,0,1,GOLD,566.0,1-11-2020
2,15804937,Cambage,1578.455943,France,Male,66,19,0.000000,2,0,0,0.0,1,0,4,GOLD,1850.0,1-25-2022
3,15130983,MANN,3026.114777,France,Male,120,68,0.000000,2,1,1,1.0,0,0,3,SILVER,3373.0,1-44-2023
4,15138553,BERGSTROM,2769.549663,France,Female,103,35,0.000000,2,1,1,1.0,0,0,4,PLATINUM,1181.0,1-34-2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392482,15376391,ESPINOZA,2009.862339,Spain,Female,108,58,0.000000,2,1,1,1.0,0,0,5,PLATINUM,3018.0,1-41-2023
392483,15938635,BATEMAN,4169.376840,Spain,Female,99,69,0.000000,2,1,1,1.0,0,0,3,PLATINUM,1725.0,1-44-2023
392484,15113289,GOOCH,4601.099464,Spain,Female,108,78,0.000000,2,1,1,1.0,0,0,3,PLATINUM,2125.0,1-47-2023
392485,15156570,STURM,908.891477,France,Male,32,3,0.000000,2,0,1,0.0,0,0,1,PLATINUM,522.0,1-12-2021
392486,15514639,SWANSON,1125.316681,France,Female,45,11,146605.570412,1,1,1,1.0,0,0,2,SILVER,1071.0,1-18-2021